* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
h1 {
  height: 50px;
  padding: 10px;
  text-align: center;
}
button {
  padding: 8px;
  margin: 1px;
}
.bordered {
  border: 1px dashed grey;
  padding: 30px;
}
